#
# {{ansible_managed}}
#
Defaults    env_reset
Defaults    mail_badpass
Defaults    secure_path="/sbin:/usr/sbin:/usr/local/sbin:/root/bin:/bin:/usr/bin:/usr/local/bin"

root ALL=(ALL) ALL
%sudo ALL=(ALL) ALL

#includedir /etc/sudoers.d
