local {{ansible_default_ipv4.address}}
port 1984
proto tcp-server
mode server
tls-server
dev {{vpn_name}}
dev-type tap
socket-flags TCP_NODELAY
user {{openvpn_user}}
group {{openvpn_group}}

ca /etc/openvpn/{{vpn_name}}/keys/ca.crt
cert /etc/openvpn/{{vpn_name}}/keys/{{ansible_fqdn}}.crt
key /etc/openvpn/{{vpn_name}}/keys/{{ansible_fqdn}}.key
dh /etc/openvpn/{{vpn_name}}/keys/dh4096.pem
tls-auth /etc/openvpn/{{vpn_name}}/keys/ta.key 0

up "/usr/bin/sudo /etc/openvpn/{{vpn_name}}/up.sh"
down "/usr/bin/sudo /etc/openvpn/{{vpn_name}}/down.sh"
client-config-dir /etc/openvpn/{{vpn_name}}/client-config
log-append /var/log/openvpn-{{vpn_name}}.log
status /var/run/openvpn-{{vpn_name}}.status

cipher {{vpn_cipher}}
{% if vpn_compression %}comp-lzo{% endif %}
max-clients {{ vpn_maxclients }}
client-to-client
persist-key
persist-tun
#mlock
nice -5
verb 3
keepalive 10 120
script-security 2
